# Pandas II - Data Cleaning

_October 29, 2020_

Agenda today:
- Introduction to lambda function
- Introduction to data cleaning in pandas
- Combining DataFrames
- Optional Exercises

In [41]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import functools

## Part I. Lambda function
lambda functions are known as anonymous functions in Python. It allows you to write one-line functions that are used together with `map()`, `filter()`.

Syntax of lambda function: `lambda arguments:expressions`.

In [2]:
# lambda function with one argument

# add 10 to any number
(lambda x: x+10)(10)

20

In [5]:
# chain it with conditionals
(lambda x, y, z: x+y+z)(2,2,3)

7

In [6]:
# lambda function with multiple arguments
lambda x: x+1 if x >10 else x

In [8]:
#use it with map and filter
list(map(lambda x: x + 5, [2,54, 6]))
#map(function, collection)

[7, 59, 11]

In [7]:
#filter(function, collection)
list(filter(lambda x: x > 5, [1,4,7,8]))

[7, 8]

In [ ]:
# exercise: turn the below function into a lambda function
def count_zeros(li):
    """
    return a count of how many zeros are in a list
    """
    count = sum(x == 0 for x in li)
    return count

In [21]:
sum(map(lambda x: 1 if x == 0 else 0, [0,2,3,5,0,1,3,2,0]))

3

In [33]:
list(filter(lambda x: x == 0, [0,2,3,5,0,1,3,2,0]))

[0, 0, 0]

In [32]:
sum(list(functools.reduce(lambda x: x==0, [0,2,3,5,0,1,3,2,0])))

TypeError: <lambda>() takes 1 positional argument but 2 were given

## Part II. Data Cleaning in Pandas
You might wonder what the usage of lambda functions are - they are incredibly useful when applied to data cleaning in Pandas. You can apply it to columns or the entire dataframe to get results you need. For example, you might want to convert a column with $USD to Euros, or temperature expressed in Celsius to Fehrenheit. You will learn three new functions:

- `Apply()` - on both series and dataframe

- `Applymap()` - only on dataframes

- `Map()` - only on series

In [35]:
# import the dataframe 
df = pd.read_csv('auto-mpg.csv')
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [36]:
# examine the first few rows of it

In [43]:
# check the datatypes of the df
df.datatypes()

AttributeError: 'DataFrame' object has no attribute 'datatypes'

In [45]:
# check whether you have missing values
df.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [ ]:
# creating new columns - broadcasting

In [ ]:
# check the dataframe

In [49]:
# time to use lambda and apply! with apply, applymap, and map, you never need to "iterate through the rows"

# create a function that takes in the weight as lbs, and return weight in tons 

# 1 lb = 0.0005
df['weight_in_tons'] = df['weight'].apply(lambda x:x * 0.0005)
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,weight_in_tons
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,1.7520
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320,1.8465
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite,1.7180
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst,1.7165
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino,1.7245

In [ ]:
#broadcasting

df['weight_in_tons'] = df['weight'] * .0005

In [53]:
# exercise - create a new column called "years old", which determines how old a car is 
df['years old'] = 120 - df['model year']
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,weight_in_tons,years old
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,1.7520,50
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320,1.8465,50
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite,1.7180,50
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst,1.7165,50
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino,1.7245,50

## Part III. Combining DataFrames in Pandas
There are two methods in Pandas that allow us to combine our DataFrames:

    - df.merge() - allow us to match dataframes on either indices or columns
    - df.concat() - allow us to concatenate two dataframes vertically or horizontally

In [ ]:
# create some toy dataframes 
small_grades = pd.DataFrame({"students":["Sandra","Billy","Alan"],
                          "projects":[1,2,1],
                          "grades":np.random.randint(80,100,3)})
small_quiz = pd.DataFrame({"students":["Alan","Steven","Davida"],
                            "quiz_score":np.random.randint(0,10,3)})

In [ ]:
print(small_grades)
print(small_quiz)

In [ ]:
### df.concat 
combined = pd.concat([small_grades, small_quiz], axis = 1)

In [ ]:
combined

<img src = 'sql-joins.png' width = 400>

Based on the diagram above, what are the differences of different types of merge?

In [ ]:
### df.merge

# inner merge

#small_grades.merge(small_quiz, on = 'students')

In [ ]:
# outer merge

#small_grades.merge(small_quiz, how = 'outer', on = 'students')

In [ ]:
# right merge

### Data Cleaning - level up with the adult dataset

Dataset documentation:
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.

In [ ]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
adults = pd.read_csv(url,header = None)

In [ ]:
adults.head()

In [ ]:
# Check the first few rows

In [ ]:
# add the columns to dataset
columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital_status','occupation', 'relationship', 'race', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week', 'native_country','income']

In [ ]:
# check the info of dataset

In [ ]:
# check missing values

In [ ]:
# perform some queries - find the total num female & bachelors

In [ ]:
# seems like we have data anolmaly, find out what that is and fix it 
# hint - tons of entries contain white space, remove it!

In [ ]:
# subsetting multiple cols

In [ ]:
# create a column called income_binary, 1 if >50k and 0 otherwise

In [ ]:
# get some descriptive statistics of the income distribution